@model IEnumerable<ASP_Assignment_1.Models.Post>

<h1>All-Post</h1>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card" style="margin-bottom:10px">
                    <div class="card-body">
                        <div class="card-text">
                            <h3 class="pull-right">@item.Content</h3>
                        </div>
                        <hr />
                        <a type="submit" class="glyphicon glyphicon-thumbs-up btn btn-primary m-1" asp-action="LikePost" asp-controller="Home" asp-route-Like="@item.Like" asp-route-PostId="@item.PostId">Like Post</a>
                        <a class="btn btn-primary" asp-route-PostId="@item.PostId" asp-action="Index" asp-controller="Comment">Add Comment</a>
                        <a class="btn btn-primary" asp-route-PostId="@item.PostId" asp-action="Details" asp-controller="Home">View Post</a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Post">Add Post</a>
    <a class="btn btn-primary" asp-action="MyPost" asp-controller="Post">My Post</a>

</div>
